@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  font-family: 'Inter', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

/* Blog article base text color */
.prose * { color: #111827 !important; }

/* Table of Contents link styling */
#toc-sidebar a, #toc-sidebar span { color: #4B5563 !important; transition:color .2s; }
#toc-sidebar a:hover, #toc-sidebar span:hover { color:#111827 !important; }

/* Breadcrumb link always white */
#breadcrumb a { color:#FFFFFF !important; }
#breadcrumb a:hover { color:#FFFFFF !important; }
